.main-title-calculator {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.calculator-input-number {
  border-radius: 20px;
  padding: 10px 20px;
  width: 135px;
  height: 35px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  background: #d7d7d7;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}

.calculator-button-action {
  border-radius: 20px;
  padding: 5px 10px;
  width: 25px;
  height: 25px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  background: #000;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  display: flex;
  text-align: center;
  color: #fff;
}

.calculator-result-calculator {
  border-radius: 20px;
  padding: 10px 20px;
  width: 118px;
  height: 35px;
  background: #d7d7d7;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}

.main-div-calculator-content {
  display: flex;
  gap: 38px;
  align-items: center;
}

.calculator-div-actions {
  display: flex;
  flex-wrap: wrap;
  width: 62px;
  gap: 10px;
}

.main-div-calculator {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.main-dino-window {
  outline: 1px solid black;
  width: 400px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  background-image: url("/img/dino/dino_ground.png");
  background-repeat: repeat-x;
  background-position: 0px 130px;
}

.dino-player {
  width: 50px;
  position: absolute;
  margin-top: 90px;
  margin-left: 30px;
}

.dino-button-restart {
  position: absolute;
  margin-top: 45px;
  margin-left: 160px;
}

.dino-time {
  font-size: x-large;
}

.cactus {
  height: 60px;
  margin-top: 85px;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-right: 361px;
  padding-left: 81px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 80px;
}

:root {
  --font-family: "Montserrat Alternates", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Sacramento", sans-serif;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}