@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Bilbo+Swash+Caps&family=Inter&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@400;700&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.main-title-calculator {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.calculator-input-number {
  border-radius: 20px;
  padding: 10px 20px;
  width: 135px;
  height: 35px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  background: #d7d7d7;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}

.calculator-button-action {
  border-radius: 20px;
  padding: 5px 10px;
  width: 25px;
  height: 25px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  background: #000;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  display: flex;
  text-align: center;
  color: #fff;
}

.calculator-result-calculator {
  border-radius: 20px;
  padding: 10px 20px;
  width: 118px;
  height: 35px;
  background: #d7d7d7;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}

.main-div-calculator-content {
  display: flex;
  gap: 38px;
  align-items: center;
}

.calculator-div-actions {
  display: flex;
  flex-wrap: wrap;
  width: 62px;
  gap: 10px;
}

.main-div-calculator {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.main-dino-window {
  position: relative;
  outline: 1px solid black;
  width: 400px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  background-image: url("./img/dino/dino_ground.png");
  background-repeat: repeat-x;
  background-position: 0px 130px;
}

.dino-player {
  width: 50px;
  position: absolute;
  margin-top: 90px;
  margin-left: 30px;
}

.dino-button-restart {
  position: absolute;
  margin-top: 45px;
  margin-left: 160px;
}

.dino-time {
  font-size: x-large;
}

.cactus {
  height: 60px;
  margin-top: 85px;
}

.football-main-window {
  background-color: #5ABB58;
  border-radius: 10px;
  outline: 3px solid black;
  width: 720px;
  height: 220px;
  margin-top: 10px;
  display: flex;
}

.football-ball {
  position: absolute;
  width: 50px;
  height: 50px;
  transition: all 100ms;
}

.main-scientist-item {
  width: 100px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-scientist-list {
  margin-top: 36px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 36px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-scientist-button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  color: #fff;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  background: #000;
  border-radius: 20px;
  padding: 10px 20px;
}

.main-scientist-ul {
  margin-top: 36px;
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
  row-gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.main-scientist-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-scientist-row-1 {
  justify-content: start;
  align-items: flex-end;
}

.main-scientist-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-scientist-item-title,
.main-scientist-item-date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 8px;
  line-height: 170%;
  text-align: center;
  color: #000;
}

.notInSearch {
  display: none;
  position: absolute;
}

header {
  transition: 500ms all;
}

footer {
  transition: 500ms all;
}

.rockpaperscisors {
  position: relative;
}

.sps-home__container {
  display: flex;
  justify-content: center;
}
.sps-home__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sps-home__title {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  padding-bottom: 35px;
  text-align: center;
}
.sps-home__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 35px;
}
.sps-home__button {
  border-radius: 20px;
  padding: 10px;
  width: 60px;
  height: 60px;
  background: #000;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.sps-home__button:hover {
  background-color: #7e7e7e;
}
.sps-home__text {
  font-weight: 400;
  font-size: 12px;
  color: #039900;
  text-align: center;
  padding-bottom: 35px;
}
.sps-home__computer {
  border-radius: 20px;
  padding: 10px 20px;
  width: 182px;
  height: 35px;
  background: #000;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
.sps-home__computer:hover {
  background-color: #7e7e7e;
}
.sps-home__textcomputer {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}
.sps-home__listr {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  right: -200px;
}
.sps-home__itemr {
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: #000;
}

.time-home__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}
.time-home__bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 166px;
  padding-right: 50px;
}
.time-home__calcurator {
  font-size: 12px;
  border-radius: 20px;
  padding: 10px 45px 10px 10px;
  width: 150px;
  height: 35px;
  background: #d7d7d7;
  position: absolute;
}
.time-home__button {
  position: relative;
  left: 100%;
  margin-right: 100px;
}
.time-home__svg {
  border-radius: 0 20px 20px 0;
  fill: #000;
}
.time-home__text {
  font-weight: 400;
  font-size: 12px;
  color: #000;
}

.three-home {
  display: flex;
  justify-content: center;
}
.three-home__title {
  text-align: center;
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.three-home__list {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 35px;
}
.three-home__input {
  border-radius: 20px;
  padding: 10px 20px;
  width: 135px;
  height: 35px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  background: #d7d7d7;
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}
.three-home__text {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  color: #000;
}

.team-home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
.team-home__title {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.team-home__arrow {
  width: 120px;
  height: 120px;
}
.team-home__slides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
.team-home__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  margin-left: 40%;
}
.team-home__name {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}
.team-home__text {
  font-weight: 400;
  font-size: 12px;
  height: 120px;
  color: #000;
  text-align: center;
}
.team-home__pagination {
  border-radius: 3px;
  width: 18px;
  height: 3px;
  background: #d9d9d9;
}

#top {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

#slider {
  width: 800px;
  overflow: hidden;
  border-radius: 10px;
}

.active {
  background-color: #797979;
  border-radius: 3px;
  width: 30px;
  height: 3px;
}

.block {
  display: block;
}

.footer__container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;
}
.footer__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: #000;
}
.footer__input {
  border-radius: 20px;
  padding: 10px 80px 10px 10px;
  width: 204px;
  height: 35px;
  background: #d7d7d7;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 20px;
}
.footer__button {
  border-radius: 20px;
  padding: 10px;
  width: 107px;
  height: 35px;
  background: #000;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}
.footer__textinfo {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 6px;
  color: #000;
}

.main {
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 0 175px;
}
.main__container {
  display: flex;
  padding: 36px 0;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 1090px;
  margin: 0 auto;
}
.main__div {
  padding: 36px 0;
}
.main__line {
  border: 1px solid black;
}

.div-title {
  size: 24px;
}

.div__input {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  size: 12px;
}

.birth-home__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}
.birth-home__bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 166px;
  padding-right: 50px;
}
.birth-home__calcurator {
  font-size: 12px;
  border-radius: 20px;
  padding: 10px 45px 10px 10px;
  width: 150px;
  height: 35px;
  background: #d7d7d7;
  position: absolute;
}
.birth-home__button {
  position: relative;
  left: 100%;
  margin-right: 100px;
}
.birth-home__svg {
  border-radius: 0 20px 20px 0;
  fill: #000;
}
.birth-home__text {
  font-weight: 400;
  font-size: 12px;
  color: #039900;
  width: 250px;
}

.header__container {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-right: 361px;
  padding-left: 81px;
  cursor: pointer;
}
.header .item__icon {
  display: flex;
  gap: 8px;
}
.header__burgermenu {
  display: none;
}
.header__burgermenu.active_2 {
  display: block;
  position: absolute;
  padding-top: 25px;
}
.header__links {
  text-decoration: none;
  color: black;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  gap: 51px;
}
.header__switch {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 12px;
}
.header__switch input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 40px;
  height: 20px;
  border-radius: 12px;
  background-color: #7a7a7a;
  transition: 0.5s;
}
.header__switch input::before {
  content: "";
  position: absolute;
  width: 20.5px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  top: 0;
  left: 0;
  background-color: #ffffff;
  transition: 0.5s;
  background-image: url("img/Ellipse 8.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.header__switch input:checked:before {
  left: 20px;
  background-color: black;
  background-repeat: no-repeat;
  background-image: url("img/Ellipse 7.svg");
}
body {
  font-family: "Montserrat Alternates", sans-serif;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 80px;
}

:root {
  --font-family: "Montserrat Alternates", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Sacramento", sans-serif;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}